<header>
  <nav>
    <div class="header-logo">
      <img src="../images/spookybarlogo.png">
      <span><a href="/">Spooky bar</a></span>
    </div>
    <% if(type === 'user' ) {%>
      <div class="header-categories">
        <h1>logged in as user</h1>
        <!-- <a class="category-button" href="">Drinks<br></a> -->

        <button class="cart-button"><a href="/testfoods">My Cart</a><br></button>
      </div>
      <% } else if(type === 'admin' ) { %>
        <div class="header-categories">
          <h1>logged in as admin</h1>
        </div>
        <% } %>
  </nav>
</header>
