<header>
  <nav>
    <div class = "header-logo">
      <img src="../images/starbucks.jpeg">
    <span>Spooky bar</span>
  </div>
  <div class= "header-categories">
    <a class="category-button" href="">Drinks<br><i class="fa-solid fa-angles-down arrow"></i></a>
    <a class="category-button" href="">Snacks<br><i class="fa-solid fa-angles-down arrow"></i></a>
    <button class="cart-button"><a href = "/orders">My Cart</a><br><i class="fa-solid fa-angles-down arrow"></i></button>
  </div>
 </nav>
</header>
