<header>
  <nav>
    <div class = "header-logo">
      <img src="../images/starbucks.jpeg">
    <span><a href = "/">Spooky bar</a></span>
  </div>
  <div class= "header-categories">
    <a class="category-button" href="">Drinks<br></a>
    <a class="category-button" href="">Snacks<br></a>
    <button class="cart-button"><a href = "/testfoods">My Cart</a><br></button>
  </div>
 </nav>
</header>
