header nav {
  display: flex;
  justify-content: space-between;
  margin: 3em;
}
header nav .header-categories {
  display: inline-flex;
  align-items: center;
}
header nav .header-logo {
  display: inline-flex;
  align-items: center;
}
header nav .header-logo img {
  height: 100px;
}
header nav .cart-button {
  font-size: 20px;
  padding: 10px;
  background-color: #D35721;
  border: navajowhite;
  border-radius: 10px;
}
header nav .cart-button a {
  color: #fff;
}
header nav span {
  color: rgb(80, 78, 78);
  font-size: 32px;
  font-weight: 600;
}
header a {
  color: rgb(80, 78, 78);
  text-decoration: none;
  font-size: 24px;
  margin: 0 20px;
}

main {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
main .category-title {
  text-align: center;
}
main .category-main .category-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
main .category-main .category-row .category-item {
  text-align: center;
  list-style: none;
}