body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;

  background: #f17e23;
  background: linear-gradient(
    227deg,
    rgb(244, 177, 115) 0%,
    #e19839 20%,
    rgb(237, 162, 1) 34%,
    rgb(241, 116, 21) 59%,
    rgb(240, 116, 88) 74%,
    rgb(241, 106, 52) 100%
  );
}
header{

}
nav{
  margin: 25px;
}
header span{
  font-size: 30px;
  font-weight: 700;
}
header a{
  text-decoration: none;
  color:white;
  float: right;
}
main h1{
  display: flex;
  justify-content: center;
}
