$base-color1: #56200B;
$base-color2: #7B2C13;
$base-color3: #B14424;
$base-color4: #D35721;
$base-color5: #F17E23;
$base-color6: #FBA11C;
$font-white: #fff;
$font-gray: rgb(80, 78, 78);
$font-black: #000;
$font-header: 32px;
$font-description: 24px;
$font-small-text: 20px;
$font-extra-small:16px;

@mixin inline-flex-center {
  display: inline-flex;
  align-items: center;
}
body {
  font-family: monospace;
  a {
    text-decoration: none;
  }
}
header {
  nav {
    display: flex;
    justify-content: space-between;
    margin: 1em 2em;

    .header-categories {
      @include inline-flex-center;
    }

    .header-logo {
      @include inline-flex-center;
    }

    .header-logo img {
      height: 120px;
    }

    .cart-button {
      font-size: $font-small-text;
      padding: 0.5em 1em;
      background-color: $base-color4;
      border: navajowhite;
      border-radius: 10px;

      a {
        color: $font-white;
      }
    }

    span {
      color: $font-gray;
      font-size: $font-header;
      font-weight: 600;
      margin-left: 0.5em;

      a {
        color: $font-gray
      }
    }
  }

  .category-button {
    color: $font-gray;
    text-decoration: none;
    font-size: $font-description;
    margin: 0 20px;
  }
}

main {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  width: 100%;


  .category-title {
    text-align: center;
    font-size: $font-header;
  }

  .category-main .category-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    .category-item {
      text-align: center;
      list-style: none;
      border: 1px #d7d7d7 solid;
      margin: 2em;
      padding: 3em;
      border-radius: 10px;
      box-shadow: 0 4px 15px 0 #9a9a9a;
    }

    .category-item-name {
      font-weight: 600;
      font-size: 24px;
      margin: 1em 0;
    }


    .category-item-descriptions {
      margin: 1em 0;
      font-size: $font-extra-small;
    }

    .category-item-price {
      font-weight: 600;
      font-size: 20px;
      margin: 10px 0;
    }

    .category-item-img img {
      width: 50%;
    }

    .menu-button {
      font-size: $font-small-text;
      padding: 10px 30px;
      border: navajowhite;
      border-radius: 30px;
      color: #fff;
      margin-top: 1em;
      background-image: linear-gradient(to right, $base-color6, $base-color6, $base-color5, $base-color4);
      box-shadow: 0 4px 15px 0 rgb(252 104 110 / 75%);
      transition: all .4s ease-in-out;
    }
      .menu-button:hover {
        background-position: 100% 0;
        transition: all .4s ease-in-out;

    }
  }
}

.cart {
  display: flex;
  flex-direction: column;
  margin-bottom: 10em;

  #orders {
    width: 80%;
    margin: auto;
  }

  #place-order {
    float: right;
    padding: 10px 15px;
    margin: 2em 12rem 2em 0;
    font-size: 20px;
    background-color: #D35721;
    border: navajowhite;
    border-radius: 10px;
    color: $font-white;
  }

  .order {
    margin-right: 2em;
    text-align: right;
    font-size: 26px;
  }

  .cart-title {
    text-align: center;
  }

  .cart-item {
    list-style: none;
    border: 1px #bfb8b8 solid;
    border-radius: 10px;
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    box-shadow: 7px 7px #e8dcdc;
  }

  .cart-item-image {
    width: 15%;
    padding: 5px 0 10px 0;
  }

  .cart-item-name {
    margin: 0 -7em 0 -7em;
  }

  .cart-item-count {
    border: 1px #ada0a0 solid;
    border-radius: 10px;
  }

  button {
    padding: 0.5em;
    background: none;
    border: none;
  }
}
.admin-header{
  text-align: center;
}
#admin-main{
  display: flex;
flex-direction: column;
margin: auto;
align-items: center;

.admin-item {
  list-style: none;
  border: 1px #c5c0c0  solid;
  margin: 2em;
  padding: 2em;
  border-radius: 2em;
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
  font-size: $font-description;
  align-items: center;
}
#admin-button {
  font-size: 20px;
  border: navajowhite;
  padding: 1em 2em;
  border-radius: 2em;
  background: $base-color4;
  color:$font-white
}
}
